@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #eae9e4;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

button {
    background: none;
    outline: none;
    background: #000;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
}

button#toggle {
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

button:hover {
    background: #fff;
    color: #000;
}

.nav,
.tagline {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 1.5em 0;
    text-align: center;
}

.nav p {
    padding: 1em 2em 5em 2em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent);
    border-radius: 15px 15px 0 0;
}

.tagline {
    bottom: 0;
}

.links {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    display: flex;
    gap: 1em;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text h1 {
    font-family: "Pinyon Script";
    font-size: 10vw;
    font-weight: lighter;
}

.cta {
    margin: 1em 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #262625;
    background: url(../images/overlay.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: flex;
    padding: 1em;
    pointer-events: none;
    opacity: 0;
}

.overlay::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.col:nth-child(1) {
    flex: 1;
    height: 100%;
    border-right: 1px solid #eae9e4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3em;
}

.col:nth-child(2) {
    flex: 2;
    padding: 0 1em;
}

.logo {
    width: max-content;
    border: 1px solid #eae9e4;
}

.logo a {
    padding: 0 0.25em;
    color: #eae9e4;
    text-transform: uppercase;
}

.about {
    width: 40%;
    color: #eae9e4;
    margin: 1em 0;
}

.copy {
    display: flex;
    justify-content: space-between;
    color: #eae9e4;
    text-transform: uppercase;
    font-size: 15px;
}

.send {
    position: absolute;
    bottom: 0;
}

.send h1 {
    color: #b7b7b3;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 150px;
}

.form label {
    color: #eae9e4;
    font-size: 22px;
}

input[type="text"] {
    width: 50%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #eae9e4;
    padding: 0.5em 0;
    margin: 1em 0;
    color: #eae9e4;
}

::placeholder {
    text-transform: uppercase;
    font-size: 14px;
}

.form button {
    background: #eae9e4;
    color: #000;
    border: 1px solid #eae9e4;
}

.jobs {
    margin: 1em 0 3em 0;
    display: flex;
    gap: 1em;
}

.job-items label {
    text-transform: uppercase;
    font-size: 15px;
}

.item {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.send,
.header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.send h1 span,
.header-text h1 span {
    position: relative;
    top: 500px;
}

#back {
    cursor: pointer;
}

@media (max-width: 900px) {
    .logo {
        margin-bottom: 2em;
    }
    .links {
        display: none;
    }
    .overlay {
        flex-direction: column-reverse;
    }
    .col:nth-child(1) {
        border: none;
    }
    .send {
        right: 1em;
    }
    .send h1 {
        font-size: 100px;
    }
}
